<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>Error</title>
</head>
<body>
	<div class="container my-3">
		<H1>😭 ERROR - 50</H1>
		<ul>
			<li>Error Code: <span th:text="${error}"></span>
			</li>
			<li>Error Message: <span th:text="${message}"></span>
			</li>

		</ul>
		</div>
		<br> 
		<div class="d-grid gap-2 col-6 mx-auto">
	<br>
	<br>
	<a href="/" class="btn btn-dark">🏠︎メインへ</a>
	</div>
</body>
</html>