
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>Error</title>
</head>
<body>
	<div class="container my-3">
		<H1>😞 ページ閲覧権限なし </H1>
		<ul>
			<li><strong><mark>あなたには権限がありません</mark></strong> :
				管理者権限のアカウントにログインしなさい</li>
		
		</ul>
	</div>	
	<br>
	<div class="d-grid gap-2 col-6 mx-auto">
	<br>
		<a href="/raonuser/login" class="btn btn-dark">LOGIN</a>
	
	<br>
	<a href="/" class="btn btn-dark">🏠︎メインへ</a>
	
	</div>
</body>
</html>