<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>勤怠</title>
</head>
<body>
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<div class="container my-3">
		<span class="input-group-text" id="addon-wrapping">出社 / 退社 /
			勤怠一覧</span><br>
		<div>
			<form th:action="@{/attendance/attend/checkin}" method="post">
				<input type="hidden" name="name"
					th:value="${#strings.substringBefore(#authentication.principal.username, '@')}">
				<button type="submit" class="btn btn-success btn-lg">
					🕘出社🕘</button>
			</form>
		</div>
		<br><br>
		<div>
			<form th:action="@{/attendance/attend/checkout}" method="post">
				<input type="hidden" name="name"
					th:value="${#strings.substringBefore(#authentication.principal.username, '@')}">
				<button type="submit" class="btn btn-dark btn-lg">
					👋退社👋</button>
			</form>
		</div>

	</div>
</body>
</html>