<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<title>請求書</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container my-3">
<span class="input-group-text" id="addon-wrapping">入力</span><br>
	<form th:action="@{/bill/invoke/ + {companyName}}" method="post">
		<div class="input-group mb-3">
		<label for=bank class="input-group-text" >名</label> <br>
    <select required class="btn btn-secondary btn-lg dropdown-toggle" name="selectedCustomer">
        <option value="" disabled selected>--------取引先名--------</option>
        <option th:each="customer : ${customers}" th:value="${customer.companyName}" th:text="${customer.companyName}"></option>
    </select>
    </div>	
	
    <div class="input-group mb-3">
    <label for=id class="input-group-text" >사업건</label>  
    <input type="text" id="id" name="id" class="form-control" required><br>
    </div>
    
    
    <div class="input-group mb-3">
     <label for=totaltime class="input-group-text" >총근무시간</label>  
    <input type="text" id="totaltime" name="totaltime" class="form-control">
    <label for=plustime class="input-group-text" >잡업시간</label>  
    <input type="text" id="plustime" name="plustime" class="form-control">
    <label for=losetime class="input-group-text" >공제시간</label>  
    <input type="text" id="losetime" name="losetime" class="form-control"><br>
    </div>
    <div class="input-group mb-3">
    <label for="today" class="input-group-text" >Today</label>  
    <input type="date" id="today" name="today" class="form-control" min="2017-09-15" />
	</div>
	<div class="input-group mb-3">
     <label for=price class="input-group-text" >단가</label>  
    <input type="text" id="price" name="price" class="form-control"><br>
    </div>
    <button type="submit" class="btn btn-lg btn-info">閲覧</button>
	</div>
    
</form>


</body>
</html>