<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>取引先登録</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<div class="container my-3">
		<span class="input-group-text" id="addon-wrapping">取引先登録</span>
</div>
<div class="input-group mb-3">
	<form th:action="@{/customer/enroll}" method="post">
	<div class="input-group mb-3">
		<label for="id" class="input-group-text">企業 ID</label> 
		<input class="input-group-text" type="text" id="id" name="id" required><br> 
	</div>	
	<div class="input-group mb-3">
		<label for="name" class="input-group-text">企業名:</label> 
		<input type="text" class="input-group-text" id="name" name="name" required><br>
	</div>	
	<div class="input-group mb-3">
		<label for="name"  class="input-group-text">アドレス:</label> <input type="text"  class="input-group-text" id="address" name="address" required><br>
	</div>
	<div class="input-group mb-3">	
		<label for="name" class="input-group-text">電話番号:</label> <input type="text"  class="input-group-text" id="phone" name="phone" required><br>
	</div>	
		
		<br>
		<button type="submit" class="btn btn-lg btn-primary">保存</button>
	</form>
</div>


</body>
</html>