<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

	<title>Raon</title>
	<script>



	</script>
</head>

<body onload="loadf()">
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<form name="myform">

		<table class="table">
			<thead class="table-dark">
				<tr>
					<th>企業 ID</th>
					<th>企業名</th>
					<th>アドレス</th>
					<th>電話番号</th>
					<th>削除</th>
					<th>修正</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer2, loop : ${paging}">
					<td th:text="${customer2.customerId2}"></td>
					<td th:text="${customer2.companyName2}"></td>
					<td th:text="${customer2.adress2}"></td>
					<td th:text="${customer2.phoneNo2}"></td>
					<td>
						<a th:href="@{/customer2/delete/{id2}(id=${customer2.customerId2})}">❌</a>
					</td>
					<td>
						<a th:href="@{/customer2/update/{id2}(id=${customer2.customerId2})}">🪛</a>
					</td>

			</tbody>
		</table>

	
		
		</div>
	</form>
</body>

</html>