<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<title>Raon</title>

</head>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container my-3">
	<span class="input-group-text" id="addon-wrapping">取引先登録</span>
 <div class="row my-3">
    <div class="col-6">
        <form id="searchForm" action="/customer/list" method="get">
            <div class="input-group">
                <input type="text" name="kw" placeholder="企業ID＆社名" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="submit">検索</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
	<thead class="table-dark">
		<tr>
			<th>企業 ID</th>
			<th>企業名</th>
			<th>アドレス</th>
			<th>電話番号</th>
			<th>削除</th>
			<th>修正</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="customer, loop : ${paging}">
			<td th:text="${customer.customerId}"></td>
			<td th:text="${customer.companyName}"></td>
			<td th:text="${customer.address}"></td>
			<td th:text="${customer.phoneNo}"></td>
			<td><a
				th:href="@{/customer/delete/{id}(id=${customer.customerId})}"
				class="delete btn btn-sm btn-outline-secondary">❌</a></td>
			<td><a
				th:href="@{/customer/update/{id}(id=${customer.customerId})}"
				class="delete btn btn-sm btn-outline-secondary">🪛</a></td>
	</tbody>
</table>
</div>
<!--paging -->

<div th:if="${!paging.isEmpty()}" >
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>前に</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>次に</span>
                </a>
            </li>
        </ul>
    </div>
	    <script src="/search_function.js" type="text/javascript"></script>
	
</body>

</html>