<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>取引先更新</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<h1>取引先情報更新</h1>


	<form th:action="@{'/customer/update/' + ${id}}" method="post">
		<label for="id">企業 ID:</label>
		<input type="text" id="id" name="id" th:value="${id}" readonly disabled><br> 
		<label for="name">企業名:</label> 
		<input type="text" id="name" name="name" required><br>
		<label for="name">アドレス:</label> 
		<input type="text" id="address" name="address" required><br>
		<label for="name">電話番号:</label> 
		<input type="text" id="phone" name="phone" required><br>
		
		<button type="submit">更新</button>
	</form>
 
</body>
</html>