<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>取引先登録</title>
</head>
<body>
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<br>
	<div layout:fragment="content" class="container my-3">
		<span class="input-group-text" id="addon-wrapping">取引先登録</span>


	<br>
	<br>
	<form th:action="@{/customer/enroll}" method="post">
		<div class="mb-3">
			<label for="id" class="form-label">企業 ID</label> <input
				class="form-control" type="text" id="id" name="id" required><br>

			<label for="name" class="form-label">企業名 </label> <input type="text"
				class="form-control" id="name" name="name" required><br>

			<label for="name" class="form-label">アドレス </label> <input type="text"
				class="form-control" id="address" name="address" required><br>
			<label for="name" class="form-label">電話番号 </label> <input type="text"
				class="form-control" id="phone" name="phone" required><br>


		</div>
		<br>
		<div class="container">
			<button type="submit" class="btn btn-lg btn-primary">保存</button>
			<button type="reset" class="btn btn-lg btn-warning">リセット</button>
			<a href="/" class="btn btn-dark btn-lg">メインへ</a>
		</div>

	</form>
	</div>
</body>
</html>