<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>社員登録</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<div class="container my-3">


	<form th:action="@{/employee/enroll}" method="post">
		<span class="input-group-text" id="addon-wrapping"><strong>社員登録</strong></span><br>
		
		<div class="input-group mb-3">
		<label for="id" class="input-group-text">社員 ID</label> <input type="text" id="id" name="id" required class="form-control"><br> 
		</div>
		<div class="input-group mb-3">
		<label for="name" class="input-group-text" >姓名</label>  <input type="text" id="name" name="name" required class="form-control">

		<label for="Ename" class="input-group-text" >英文名</label>  <input type="text" id="Ename" name="Ename" class="form-control">
		
		<label for="Jname" class="input-group-text" >フリガナ</label>  <input type="text" id="Jname" name="Jname" required class="form-control"><br>	
		</div>
		<div class="input-group mb-3">
		<label for="Eemail" class="input-group-text" >社内メール</label>  <input type="text" id="Eemail" name="Eemail" required class="form-control">	
		
		<label for=Pemail class="input-group-text" >個人メール</label>  <input type="text" id="Pemail" name="Pemail" class="form-control"><br>	
		</div>
		<div class="input-group mb-3">
		<label for=tel class="input-group-text" >電話番号</label>  <input type="text" id="tel" name="tel" class="form-control"><br>	
		</div>
		<div class="input-group mb-3">
		<label for=address class="input-group-text" >住所</label>  <input type="text" id="address" name="address" class="form-control"><br>	
		</div>
		<div class="input-group mb-3">
		<label for=bank class="input-group-text" >銀行名</label> 
		<select id="bank" name="bank" required class="btn btn-outline btn-lg dropdown-toggle">
    <option th:each="bank : ${T(com.example.raon.employee.EmployeeBank).values()}"
            th:value="${bank}"
            th:text="${bank}"></option>
</select>  
	
		<label for=acc class="input-group-text" >口座番号</label>  <input type="text" id="acc" name="acc" class="form-control"><br>	
		</div>
		<div class="input-group mb-3">
		<label for="join" class="input-group-text" >入社日</label>  <input type="date" id="join" name="join" class="form-control" min="2017-09-15" />	
		<label for="birth" class="input-group-text" >誕生日</label>  <input type="date" id="birth" name="birth" class="form-control"/>

		<label for="pay" class="input-group-text" >給料日</label>  <input type="number" id="pay" name="pay" class="form-control"><br>	
		</div>
			<br>
			<br>
			
		<button type="submit" class="btn btn-lg btn-info">保存</button>
	</form>
	</div>
</body>
</html>