----------------------------------------------------
Raon株式会社
〒169-0072
東京都新宿区大久保2-1-8
プラザ新大樹ビル本棟6階
Tel：03-6265-9668
----------------------------------------------------
請求書番号    番号
発行日    [[${#temporals.format(#temporals.createNow(), 'yyyy/MM/dd')}]]
----------------------------------------------------

Invoice ID: [[${invoice.invoiceId}]]

Title: [[${invoice.invoiceTitle}]]

Issued Date: [[${invoice.issuedDate}]]

Customer: [[${invoice.companyName}]]

Employee: [[${invoice.employeeName}]]

Work Hours: [[${invoice.workhour}]]

Extra Work Hours: [[${invoice.extraWorkhour}]]

Deduction Work Hours: [[${invoice.deductionWorkhour}]]

Unit Price : [[${invoice.unitPrice}]]

Total WorkHour : [[${invoice.workhour + invoice.extraWorkhour - invoice.deductionWorkhour}]]

Tax rate : [[${invoice.tax}  + '%']]

Charges(Total WorkHour X Unit Price) * (100 - Tax) / 100 : [[${invoice.charges}]]

----------------------------------------------------
振込先    りそな銀行 新宿支店
口座番号    普通 3864527
口座名義人    Raon株式会社

