<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<title>Raon</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav><br>
<h2>社員管理</h2>
<div>
		<a class="btn btn-outline-primary btn-lg" . th:href="@{employee/enroll}">社員登録</a>
		<a class="btn btn-outline-primary btn-lg" sec:authorize="isAuthenticated()"  th:href="@{employee/list}">社員一覧</a><br>
</div><br><br>
<h2>取引先</h2>
<div role="group">
		<a class="btn btn-outline-primary btn-lg" sec:authorize="isAuthenticated()"  th:href="@{customer/enroll}">取引先登録</a>
		<a class="btn btn-outline-primary btn-lg" sec:authorize="isAuthenticated()"  th:href="@{customer/list}">取引先一覧</a><br>
</div><br><br>
<h2>勤怠</h2>
		<a class="btn btn-outline-primary btn-lg" sec:authorize="isAuthenticated()" th:href="@{attendance/attend}">勤怠管理</a>
	<br><br><br>

		<h2>請求書</h2>
		<a class="btn btn-outline-primary btn-lg" sec:authorize="isAuthenticated()"  th:href="@{bill/choose}"> 請求書管理</a>

<a class="btn btn-outline-primary btn-lg" th:href="@{customer2/enroll}">test</a>
<a class="btn btn-outline-primary btn-lg" th:href="@{customer2/list}">test2</a><br>


</body>
</html>