<meta charset="UTF-8">
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RaonManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    一覧 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a th:href="@{employee/enroll}">１</a></li>
    <li><a th:href="@{employee/list}">2</a></li>
    <li><a th:href="@{customer/enroll}">3</a></li>
    <li><a th:href="@{customer/list}">4</a></li>
    <li><a th:href="@{attendance/attend}">5</a></li>
    <li><a th:href="@{bill/choose}">6</a></li>
  </ul>
</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{raonuser/signup}">SIGNUP</a>
                </li>
                <li>
                    <a class="nav-link"  sec:authorize="isAnonymous()" th:href="@{/raonuser/login}">LOGIN</a>
                	<a class="nav-link"  sec:authorize="isAuthenticated()" th:href="@{/raonuser/logout}">LOGOUT</a>
                	
                </li>
            </ul>
        </div>
    </div>
</nav>