<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    
    <title>RaonManagerパスワードリセット</title>
</head>
<body>
	<nav th:replace="~{navbar :: navbarFragment}"></nav><br>
	
<div class="container my-3">
      <h2>１．メールに印証コード伝送</h2>
    <form action="/raonuser/reset-sendmail" method="post">
        <label for="username">社内メール</label>
        <input type="text" class="input-group-text" id="username" name="username" required>
        <br>
        <label for="email">印証コードメール</label>
        <input type="email" class="input-group-text" id="email" name="email" required>
        <br>
        <input type="submit" class="btn btn-lg btn-primary" value="コード伝送">
    </form>
    </div>
</body>
</html>
