<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    
    <title>RaonManagerパスワードリセット</title>
</head>
<body>
	<nav th:replace="~{navbar :: navbarFragment}"></nav><br>

    <h2>3.新しいパスワード</h2>
  	<form action="/raonuser/reset-password" method="post">
    <input type="hidden" name="authCode" th:value="${authCode}">
    <label for="newPassword">新しいパスワード</label>
    <input type="password" class="input-group-text"  id="newPassword" name="newPassword" required>
    <br>
    <input type="submit"  class="btn btn-lg btn-primary" value="リセットする">
	</form>
</body>
</html>