<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <img src="images/image.png" alt="My Image" width="350" height="350">
<ul>
<li>raonuser username -> employee employee eMail에 되도록 자동 저장하기</li>
<li>raonuser의 권한별로 이용할 수 있는 기능 차이나게 하기...
어드민만 주요 기능 가능하도록 // 일반 사원은 본인 정보 열람 및 출퇴근 기록만 가능하게</li>
<li>raonuser 업데이트(비밀번호를 잊었을 때 다시 찾기 정도만 있으면 좋을 것 같다)</li>
<li>attend 가능하다면 유저네임이 아닌 직원 아이디로 저장하기... 현재 꼼수로 저장하는 중!!!</li>
<li>청구서 pdf 파일로 만들기</li>

</ul>
</body>
</html>